/bin
/self
/selfself
!/bin/Makefile
!/bin/pmcc
!/bin/test.sh
!/self/Makefile
!/self/pmcc
!/self/test.sh
!/self/orig
!/self/origc
!/selfself/Makefile
!/selfself/pmcc
!/selfself/test.sh
!/selfself/orig
!/selfself/origc
