/bin
/self
/selfself
!/bin/Makefile
!/bin/tealc
!/bin/teal.sh
!/self/Makefile
!/self/tealc
!/self/teal.sh
!/self/orig
!/self/origc
!/selfself/Makefile
!/selfself/tealc
!/selfself/teal.sh
!/selfself/orig
!/selfself/origc
